body {
    background-color: wheat
}

h1 {
    text-align: center;
}

.action {
    text-align: center;
}

.checkbox {
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  margin: 5px auto;
  background-color: lightyellow;
  border-radius: 5px;
  text-decoration: none;
}

.deleteBtn {
    background-color: lightyellow;
    border-color: black;
    float: right;
}

.checkBtn {
    background-color: lightyellow;
    border-color: black;
    float: right;

}